<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>habitName</key>
		<string>All</string>
		<key>habitId</key>
		<string>0</string>
		<key>Icons</key>
		<array>
			<dict>
				<key>IconID</key>
				<string>1</string>
				<key>IconName</key>
				<string>sport1</string>
				<key>Val</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>2</string>
				<key>IconName</key>
				<string>sport2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>3</string>
				<key>IconName</key>
				<string>sport3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>4</string>
				<key>IconName</key>
				<string>sport4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>5</string>
				<key>IconName</key>
				<string>sport5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>6</string>
				<key>IconName</key>
				<string>sport6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>7</string>
				<key>IconName</key>
				<string>sport7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>8</string>
				<key>IconName</key>
				<string>sport8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>9</string>
				<key>IconName</key>
				<string>sport9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>10</string>
				<key>IconName</key>
				<string>sport10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>11</string>
				<key>IconName</key>
				<string>sport11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>12</string>
				<key>IconName</key>
				<string>sport12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>13</string>
				<key>IconName</key>
				<string>sport13</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>14</string>
				<key>IconName</key>
				<string>sport14</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>15</string>
				<key>IconName</key>
				<string>sport15</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>16</string>
				<key>IconName</key>
				<string>sport16</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>17</string>
				<key>IconName</key>
				<string>sport17</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>18</string>
				<key>IconName</key>
				<string>sport18</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>19</string>
				<key>IconName</key>
				<string>sport19</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>20</string>
				<key>IconName</key>
				<string>sport20</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>21</string>
				<key>IconName</key>
				<string>sport21</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>22</string>
				<key>IconName</key>
				<string>sport22</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>23</string>
				<key>IconName</key>
				<string>sport23</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>24</string>
				<key>IconName</key>
				<string>sport24</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>25</string>
				<key>IconName</key>
				<string>health1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>26</string>
				<key>IconName</key>
				<string>health2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>27</string>
				<key>IconName</key>
				<string>health3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>28</string>
				<key>IconName</key>
				<string>health4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>29</string>
				<key>IconName</key>
				<string>health5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>30</string>
				<key>IconName</key>
				<string>health6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>31</string>
				<key>IconName</key>
				<string>health7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>32</string>
				<key>IconName</key>
				<string>health8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>33</string>
				<key>IconName</key>
				<string>health9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>34</string>
				<key>IconName</key>
				<string>health10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>35</string>
				<key>IconName</key>
				<string>health11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>36</string>
				<key>IconName</key>
				<string>health12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>37</string>
				<key>IconName</key>
				<string>negative1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>38</string>
				<key>IconName</key>
				<string>negative2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>39</string>
				<key>IconName</key>
				<string>negative3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>40</string>
				<key>IconName</key>
				<string>negative4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>41</string>
				<key>IconName</key>
				<string>negative5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>42</string>
				<key>IconName</key>
				<string>negative6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>43</string>
				<key>IconName</key>
				<string>negative7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>44</string>
				<key>IconName</key>
				<string>negative8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>45</string>
				<key>IconName</key>
				<string>negative9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>46</string>
				<key>IconName</key>
				<string>negative10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>47</string>
				<key>IconName</key>
				<string>negative11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>48</string>
				<key>IconName</key>
				<string>negative12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>49</string>
				<key>IconName</key>
				<string>study1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>50</string>
				<key>IconName</key>
				<string>study2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>51</string>
				<key>IconName</key>
				<string>study3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>52</string>
				<key>IconName</key>
				<string>study4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>53</string>
				<key>IconName</key>
				<string>study5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>54</string>
				<key>IconName</key>
				<string>study6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>55</string>
				<key>IconName</key>
				<string>study7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>56</string>
				<key>IconName</key>
				<string>study8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>57</string>
				<key>IconName</key>
				<string>study9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>58</string>
				<key>IconName</key>
				<string>study10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>59</string>
				<key>IconName</key>
				<string>study11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>60</string>
				<key>IconName</key>
				<string>study12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>61</string>
				<key>IconName</key>
				<string>study13</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>62</string>
				<key>IconName</key>
				<string>study14</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>63</string>
				<key>IconName</key>
				<string>study15</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>64</string>
				<key>IconName</key>
				<string>study16</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>65</string>
				<key>IconName</key>
				<string>study17</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>66</string>
				<key>IconName</key>
				<string>study18</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>67</string>
				<key>IconName</key>
				<string>study19</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>68</string>
				<key>IconName</key>
				<string>study20</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>69</string>
				<key>IconName</key>
				<string>study21</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>70</string>
				<key>IconName</key>
				<string>study22</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>71</string>
				<key>IconName</key>
				<string>study23</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>72</string>
				<key>IconName</key>
				<string>study24</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>habitName</key>
		<string>Sport</string>
		<key>habitId</key>
		<string>1</string>
		<key>Icons</key>
		<array>
			<dict>
				<key>IconID</key>
				<string>1</string>
				<key>IconName</key>
				<string>sport1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>2</string>
				<key>IconName</key>
				<string>sport2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>3</string>
				<key>IconName</key>
				<string>sport3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>4</string>
				<key>IconName</key>
				<string>sport4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>5</string>
				<key>IconName</key>
				<string>sport5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>6</string>
				<key>IconName</key>
				<string>sport6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>7</string>
				<key>IconName</key>
				<string>sport7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>8</string>
				<key>IconName</key>
				<string>sport8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>9</string>
				<key>IconName</key>
				<string>sport9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>10</string>
				<key>IconName</key>
				<string>sport10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>11</string>
				<key>IconName</key>
				<string>sport11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>12</string>
				<key>IconName</key>
				<string>sport12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>13</string>
				<key>IconName</key>
				<string>sport13</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>14</string>
				<key>IconName</key>
				<string>sport14</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>15</string>
				<key>IconName</key>
				<string>sport15</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>16</string>
				<key>IconName</key>
				<string>sport16</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>17</string>
				<key>IconName</key>
				<string>sport17</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>18</string>
				<key>IconName</key>
				<string>sport18</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>19</string>
				<key>IconName</key>
				<string>sport19</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>20</string>
				<key>IconName</key>
				<string>sport20</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>21</string>
				<key>IconName</key>
				<string>sport21</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>22</string>
				<key>IconName</key>
				<string>sport22</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>23</string>
				<key>IconName</key>
				<string>sport23</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>24</string>
				<key>IconName</key>
				<string>sport24</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>habitName</key>
		<string>Health</string>
		<key>habitId</key>
		<string>2</string>
		<key>Icons</key>
		<array>
			<dict>
				<key>IconID</key>
				<string>25</string>
				<key>IconName</key>
				<string>health1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>26</string>
				<key>IconName</key>
				<string>health2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>27</string>
				<key>IconName</key>
				<string>health3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>28</string>
				<key>IconName</key>
				<string>health4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>29</string>
				<key>IconName</key>
				<string>health5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>30</string>
				<key>IconName</key>
				<string>health6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>31</string>
				<key>IconName</key>
				<string>health7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>32</string>
				<key>IconName</key>
				<string>health8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>33</string>
				<key>IconName</key>
				<string>health9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>34</string>
				<key>IconName</key>
				<string>health10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>35</string>
				<key>IconName</key>
				<string>health11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>36</string>
				<key>IconName</key>
				<string>health12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>habitName</key>
		<string>Negative</string>
		<key>habitId</key>
		<string>3</string>
		<key>Icons</key>
		<array>
			<dict>
				<key>IconID</key>
				<string>37</string>
				<key>IconName</key>
				<string>negative1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>38</string>
				<key>IconName</key>
				<string>negative2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>39</string>
				<key>IconName</key>
				<string>negative3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>40</string>
				<key>IconName</key>
				<string>negative4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>41</string>
				<key>IconName</key>
				<string>negative5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>42</string>
				<key>IconName</key>
				<string>negative6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>43</string>
				<key>IconName</key>
				<string>negative7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>44</string>
				<key>IconName</key>
				<string>negative8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>45</string>
				<key>IconName</key>
				<string>negative9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>46</string>
				<key>IconName</key>
				<string>negative10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>47</string>
				<key>IconName</key>
				<string>negative11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>48</string>
				<key>IconName</key>
				<string>negative12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>habitName</key>
		<string>Study</string>
		<key>habitId</key>
		<string>4</string>
		<key>Icons</key>
		<array>
			<dict>
				<key>IconID</key>
				<string>49</string>
				<key>IconName</key>
				<string>study1</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>50</string>
				<key>IconName</key>
				<string>study2</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>51</string>
				<key>IconName</key>
				<string>study3</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>52</string>
				<key>IconName</key>
				<string>study4</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>53</string>
				<key>IconName</key>
				<string>study5</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>54</string>
				<key>IconName</key>
				<string>study6</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>55</string>
				<key>IconName</key>
				<string>study7</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>56</string>
				<key>IconName</key>
				<string>study8</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>57</string>
				<key>IconName</key>
				<string>study9</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>58</string>
				<key>IconName</key>
				<string>study10</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>59</string>
				<key>IconName</key>
				<string>study11</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>60</string>
				<key>IconName</key>
				<string>study12</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>61</string>
				<key>IconName</key>
				<string>study13</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>62</string>
				<key>IconName</key>
				<string>study14</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>63</string>
				<key>IconName</key>
				<string>study15</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>64</string>
				<key>IconName</key>
				<string>study16</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>65</string>
				<key>IconName</key>
				<string>study17</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>66</string>
				<key>IconName</key>
				<string>study18</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>67</string>
				<key>IconName</key>
				<string>study19</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>68</string>
				<key>IconName</key>
				<string>study20</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>69</string>
				<key>IconName</key>
				<string>study21</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>70</string>
				<key>IconName</key>
				<string>study22</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>71</string>
				<key>IconName</key>
				<string>study23</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>IconID</key>
				<string>72</string>
				<key>IconName</key>
				<string>study24</string>
				<key>Val</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
